@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $acc-blue
  color: #fff

body
  font-size: 14px
  min-width: 320px
  position: relative
  line-height: 1.4
  letter-spacing: 0.01em
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $acc-blue
  text-decoration: none
  +mt(.2s)

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important
// ======= END TEMPLATE STYLES =======


.btn
  display: inline-block
  white-space: nowrap
  +mt(.3s)
  cursor: pointer
  line-height: 1
  font-size: 12px
  text-transform: uppercase
  text-align: center
  padding: 19px 36px

.btn-grad
  background-image: linear-gradient(to top, #2f7ff2, #145cca)
  color: #fff
  border: none
  &:hover
    background-image: linear-gradient(to bottom, #2f7ff2, #145cca)
    color: #fff

.btn-arrow
  position: relative
  margin-left: 12px

.slick-prev, .slick-next
  font-size: 0
  width: 32px
  height: 32px
  border-radius: 50%
  border: 1px solid #fff
  background-color: transparent
  background-image: url('../img/icons/triangle-arrow-right.png')
  background-size: 8px 13px
  background-position: center center
  background-repeat: no-repeat
  +mt(.3s)
  cursor: pointer
  &:hover
    background-color: $acc-blue
    border-color: $acc-blue

.slick-dots
  text-align: center
  li
    display: inline-block
    &.slick-active
      button
        background-color: $acc-darkblue
  button
    font-size: 0
    width: 9px
    height: 9px
    border-radius: 50%
    background-color: #fff
    border: 2px solid #fff
    padding: 0
    cursor: pointer
    margin: 0 11px

.section-title
  position: relative
  font-size: 40px
  font-weight: 600
  padding-left: 78px
  line-height: 1
  &:before
    content: ''
    position: absolute
    width: 77px
    height: 29px
    background-color: #e8e8e8
    top: 5px
    left: 20px
  span
    position: relative
    z-index: 2
  &:after
    content: ''
    position: absolute
    width: 270px
    height: 29px
    background-image: linear-gradient(to right, transparent, #f0f0f0)
    right: 0
    top: 5px


.product-item
  box-shadow: 0 0 10px 5px rgba(#000, .05)
  padding: 30px 15px 35px
  &-img
    margin-bottom: 15px
    img
      width: 100%
      height: 100%
      object-fit: contain
  &-labels
    font-size: 0
    margin-bottom: 10px
    min-height: 20px
    .label
      font-size: 10px
      text-transform: uppercase
      line-height: 1
      font-weight: 800
      color: #fff
      display: inline-block
      border-radius: 2px
      margin-right: 5px
      padding: 5px 8px
      margin-bottom: 5px
      &.label-hit
        background-color: red
      &.label-stock
        background-color: green
      &.label-new
        background-color: orange
  &-title
    text-transform: uppercase
    font-weight: 600
    color: $text
    margin-bottom: 15px
    display: inline-block
    &:hover
      text-decoration: underline
  &-rate
    margin-bottom: 30px
    img
      display: inline-block!important
      width: auto!important
      cursor: pointer
  &-price
    font-weight: 700
    margin-bottom: 18px
    span
      display: inline-block
    .price-label
      letter-spacing: 0.05em
      color: #a4a4a4
      margin-right: 5px
    .new
      font-size: 18px
    .old
      position: relative
      color: #a4a4a4
      margin-right: 5px
      font-weight: 500
      text-decoration: line-through
  .to-cart
    font-size: 12px
    text-transform: uppercase
    border: 1px solid #b7babe
    padding: 7px 33px 16px
    color: $text
    +mt(0s)
    .svg
      display: inline-block!important
      height: 20px
      width: auto
      fill: #878787
      position: relative
      top: 4px
      margin-left: 10px
    &:hover
      color: #fff
      background-image: linear-gradient(to bottom, #145cca, #2f7ff2)
      .svg
        fill: #fff

.owl-carousel
  position: relative
  .owl-nav
    button.owl-prev, button.owl-next
      width: 32px
      height: 32px
      cursor: pointer
      +mt(.3s)
      border-radius: 50%
      border: 1px solid #bababa
      background-image: url('../img/icons/owl-arrow-grey.png')
      background-size: 5px 10px
      background-repeat: no-repeat
      background-position: center center
      &:hover
        background-color: $acc-darkblue
        border-color: $acc-darkblue
        background-image: url('../img/icons/owl-arrow-white.png')
    button.owl-prev
      transform: rotate(180deg)

.section-link
  font-size: 12px
  color: $text
  text-decoration: underline
  img
    margin-left: 12px


.preloader
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 999
  display: flex
  justify-content: center
  align-items: center
  background-color: #f4f4f4

.sk-rotating-plane
  width: 4em
  height: 4em
  margin: auto
  background-color: #337ab7
  animation: sk-rotating-plane 1.2s infinite ease-in-out


@-webkit-keyframes sk-rotating-plane
  0%
    transform: perspective(120px) rotateX(0deg) rotateY(0deg)

  50%
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)

  100%
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)



@keyframes sk-rotating-plane
  0%
    transform: perspective(120px) rotateX(0deg) rotateY(0deg)

  50%
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)

  100%
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)



.breadcrumbs
  padding: 30px 0
  a
    display: inline-block
    line-height: 1
    position: relative
    font-size: 12px
    color: #888888
    &:hover
      color: $acc-darkblue
    &:after
      content: ' /'
      color: #888
    &:last-child
      color: $text
      pointer-events: none
      font-weight: 600
      &:after
        display: none

.s-text
  font-size: 24px
  font-weight: 600
  margin-bottom: 25px



form
  label
    display: block
    margin-bottom: 35px
    span
      display: block
      font-size: 18px
      font-weight: 600
      line-height: 1
      margin-bottom: 18px
  input, textarea
    line-height: 1
    border: none
    background-color: #e8e8e8
    font-size: 14px
    padding: 15px 20px
    width: 100%
  textarea
    resize: none
    height: 136px

.search-form
  width: 500px
  position: relative
  label
    display: block
    margin-bottom: 0
  input
    width: 100%
    font-size: 13px
    line-height: 1
    padding: 11px 19px
    border: none
    border-radius: 3px
    background-color: #fff
    &::placeholder
      opacity: .6
  button
    position: absolute
    height: 100%
    width: 47px
    display: flex
    justify-content: center
    align-items: center
    right: 0
    top: 0
    z-index: 2
    border: none
    border-radius: 3px
    background-color: transparent
    cursor: pointer
    .svg
      height: 16px
      width: auto
      +mt(.3s)
    &:before
      content: ''
      position: absolute
      width: 1px
      height: calc(100% - 10px)
      background-color: #e8e8e8
      left: 0
      top: 5px
    &:hover
      .svg
        //opacity: .6
        fill: $acc-darkblue


.review-form
  box-shadow: 0 0 15px 5px rgba(#000, .1)
  padding: 38px 44px 45px
  margin-bottom: 120px
  .form-labels-wrap
    display: flex
    justify-content: space-between
    align-items: flex-start
    &>label
      &:first-child
        width: 440px
      &:last-child
        flex: 1
        padding-left: 85px


.jq-file
  box-shadow: none
  position: relative
  width: auto
  max-width: 210px
  z-index: 2


.jq-file__browse
  display: none

.jq-file__name
  height: auto
  line-height: 1
  background: transparent
  font-size: 14px
  padding: 15px 20px
  width: 100%
  border-radius: 0
  box-shadow: none!important
  border: none!important
  position: relative
  padding-left: 30px
  text-decoration: underline
  &:hover
    text-decoration: none
  &:before
    content: ''
    position: absolute
    width: 18px
    height: 18px
    background-image: url('../img/icons/link-icon.svg')
    +bg-cover
    left: 0
    top: calc(50% - 9px)


input[type=file]::-webkit-file-upload-button /* chromes and blink button */
  cursor: pointer
