@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

  .s-advantages
    .section-title
      margin-bottom: 30px

  .advantages-wrap
    &:after
      width: calc(100% + 30px)
      left: -15px

  .adv-item
    width: calc(33.3333% - 10px)
    .svg
      width: 30px
    &-content
      width: calc(100% - 45px)
      font-size: 12px
    &-title
      font-size: 16px

  .section-title
    font-size: 32px
    &:before, &:after
      top: 3px
      height: 24px

  .icats-wrap
    width: 100%
    left: 0
    padding-bottom: 40px
    border-bottom: 1px solid #e8e8e8
    &:after
      display: none

  .icat-item
    padding-left: 20px
    padding-right: 30px

  .intro-slide
    h1
      font-size: 28px
      width: 50%
    &-img
      max-width: 50%

  .intro-slider
    .slick-prev
      left: -10px
    .slick-next
      right: -10px

  .top-messangers
    .messanger-item
      display: flex
      margin-bottom: 8px
      &:last-child
        margin-bottom: 0

  .search-form
    width: 250px

// ≥992px
+media-breakpoint-down(md)

  .adv-item
    width: calc(50% - 10px)
    margin-bottom: 20px

  .advantages-wrap
    flex-wrap: wrap

  .icat-item
    flex-direction: column-reverse
    align-items: center
    justify-content: flex-end
    &-img
      width: 60%
      margin-bottom: 20px
    &-title
      width: 100%
      text-align: center
      margin-bottom: 0!important
    &-more
      display: none


  .intro-slide
    padding: 40px 40px 60px
    min-height: auto
    align-items: center
    &-img
      position: relative
      width: 100%
      top: auto
      right: auto
      margin: 0 auto 40px
    h1
      width: 100%
      text-align: center
    &-desc
      width: 100%
      text-align: center
      margin-bottom: 25px

  .topline
    padding-bottom: 15px

  .topline-wrap
    flex-wrap: wrap

  .top-messangers
    order: 3
    width: 50%
    margin-top: 25px

  .top-worktime
    order: 4
    width: 50%
    text-align: right
    margin-top: 15px

  .mnu-line
    padding: 12px 0

  .search-form
    width: 400px

  .hamburger
    display: block
    position: relative
    top: 2px
    padding: 0

  .main-mnu
    display: none

// ≥768px
+media-breakpoint-down(sm)
  .icat-item
    min-height: auto
    padding: 20px 15px
    &-title
      font-size: 16px

// ≥480px
+media-breakpoint-down(xs)

  .adv-item
    width: 100%
    &-content
      font-size: 14px
      width: calc(100% - 66px)
    .svg
      width: 46px
    &-title
      font-size: 18px


  .s-index-catalog
    padding-top: 50px

  .icats-wrap
    flex-direction: column

  .icat-item
    width: 100%
    padding-bottom: 30px
    &-title
      font-size: 18px
    &-img
      margin-bottom: 10px

  .section-title
    padding-left: 30px
    font-size: 24px
    &:before, &:after
      height: 17px
    &:before
      width: 40px
      left: 5px
    &:after
      width: 200px

  .intro-slide
    padding-left: 0
    padding-right: 0
    padding-bottom: 30px
    &-img
      max-width: 80%
    h1
      font-size: 20px

  .top-messangers
    width: 58%
    .messanger-item
      margin-bottom: 3px

  .top-worktime
    width: 42%

  .topline-wrap
    .logo
      width: calc(100% - 80px)

  .search-form
    width: calc(100% - 90px)

@media (max-width: 390px)

  .adv-item
    &-content
      padding-right: 0

  .intro-slide
    h1
      font-size: 18px
    &-desc
      font-size: 12px

  .top-messangers
    width: 100%
    margin-top: 10px
    .messanger-item
      margin-right: 0
      justify-content: center

  .top-worktime
    width: 100%
    text-align: center


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
